* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    margin: 0 2%;
}


.img-container {
    background-color: white;
    text-align: center;
    float: left;
    width: 24%;
    padding: 5px;
    margin: 5px 5px;
}

.img-container-lg {
    background-color: white;
    text-align: left;
    float: left;
    padding: 10px;
    width: 98.5%;
    margin-left: 5px;
    margin-top: 20px;
}

.img-container-lg img {
    width: 100%;
    height: 50%;
}


.img-container h4 {
    text-align: left;
    margin-left: 3%;
}